/*------------------------------------*\
    VERTICAL SPACING
\*------------------------------------*/

// BASELINE
// 
// The baseline is what all vertical spacing is based off
// of in the app. Multiples of the baseline are used to
// determine all vertical spacing. It can be used for horizontal
// spacing when a fixed width is necessary, but often you will
// want to use percentages instead.
$bl = 1.5em // 24px

// $xSmallSpace = 
$smallSpace = $bl * .666666667 // 16px
$mediumSpace = $bl * .833333333 // 20px
$largeSpace = $bl * 1.666666667 // 40px
// $xLargeSpace = 

$statusBarHeight = 20px
$primaryNavHeight = 3.796875rem


/*------------------------------------*\
    HORIZONTAL SPACING
\*------------------------------------*/
$xPadding = 2.35%
$xPaddingWide = 6.25%
$iPhoneFourFiveWidth = 320px


/*------------------------------------*\
    BORDERS
\*------------------------------------*/
$borderRadius = .1875rem


/*------------------------------------*\
    FONTS
\*------------------------------------*/
$globalFontSize = 16px
$primaryFont = Avenir, sans-serif



/*------------------------------------*\
    COLORS
\*------------------------------------*/

// Grayscales
$white1 = #fff
$white2 = #DEDEDE
$grey1 = #999
$grey2 = #F2F5F5
$grey3 = #EAECEC
$grey4 = #DEDEDE
$grey5 = #D5D7D7
$grey6 = #B4B4B4
$grey7 = #9B9B9B
$black = #333

// COLORS
$paleBlue = #DEF3F9
$lightBlue = #E7F9FF
$blue = #1AB2E9
$greenBlue = #6ECADE
$darkBlue = #1689B3
$darkBlue2 = #525969
$green = #4CDC6C
$paleGreen = #F6FFF8
$darkGreen = #14954B
$purple = #665978
$yellow = #FFC154
$brightYellow = #FDFF79
$red = #FFD4D4
$darkRed = #E21A22
$errorRed = #FD4545