/*------------------------------------*\
    VERTICAL SPACING
\*------------------------------------*/

// BASELINE
// 
// The baseline is what all vertical spacing is based off
// of in the app. Multiples of the baseline are used to
// determine all vertical spacing. It can be used for horizontal
// spacing when a fixed width is necessary, but often you will
// want to use percentages instead.
$bl = 1.5em // 24px

// $xSmallSpace = 
$smallSpace = $bl * .666666667 // 16px
$mediumSpace = $bl * .833333333 // 20px
$largeSpace = $bl * 1.666666667 // 40px
// $xLargeSpace = 

$statusBarHeight = 20px
$primaryNavHeight = 3.796875rem


/*------------------------------------*\
    HORIZONTAL SPACING
\*------------------------------------*/
$xPadding = 2.35%
$xPaddingWide = 6.25%
$maxWidth = 78.75em


/*------------------------------------*\
    BORDERS
\*------------------------------------*/
$borderRadius = .1875rem


/*------------------------------------*\
    FONTS
\*------------------------------------*/
$globalFontSize = 16px
$primaryFont = Avenir, sans-serif



/*------------------------------------*\
    COLORS
\*------------------------------------*/

// Grayscales
$black = #000
$white = #fff
$lightGrey = #ebebeb
$grey = #7F7F7F
$darkGrey = #515151

// Hues
$blue = #327ABB
$darkBlue = #36608C
$lightBlue = #97BADE
$successGreen = green
$errorRed = red