.slider__item
	.slick-initialized & // overwrite slick default styles
		padding 2vh 1% ($bl * 5)
		position relative
		display flex
		flex-direction column
		align-items center
		// justify-content center

.slider__item--centered
	.slick-initialized &
		display flex
		flex-direction column
		align-items center
		justify-content center
		
		img
			padding-bottom 2.2rem
			transform: translate3d(0,0,0)